* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Positioninierung grünes Dreieck */
#green-triangle {
  display: inline-block;
  border-top: 350px solid transparent;
  border-bottom: 350px solid transparent;
  border-right: 350px solid greenyellow;
}

/* Positioninierung blauer Balken */
#blue-bar {
  background-color: skyblue;
  width: 100%;
  height: 150px;
}

/* Positioninierung roter Kreis */
#red-circle {
  background-color: darkred;
  width: 380px;
  height: 380px;
  border-radius: 50%;
}

/* Positioninierung orangem Quadrat */
#orange-square {
  z-index: 1;
  background-color: orange;
  width: 350px;
  height: 350px;
}

/* Positioninierung von kleinem Kreis und Quadrat vorbereiten */
#black-rectangle {
  background-color: black;
  width: 400px;
  height: 800px;
}

/* Positioninierung kleinem gelben Kreis */
#small-yellow-circle {
  background-color: gold;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Positioninierung kleinem weissen Quadrat */
#small-white-square {
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
}
